<h1>Welcome to taggame</h1>
<p>To continue, please log in.</p>
<form class="login">
  <label for="username">Username</label>
  <input id="username" name="username" type="text" required autofocus>
  <input type="submit" id="submit" value="Login">
</form>
