<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Blank page</title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>


    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
</head>
<body>
<!-- Footer -->
<!-- <div class="row lightslategray-background footer" id="footer" th:fragment="footer"> -->
    <div class="footer" id="footer" th:fragment="footer">
    <div class="col-md-6 col-sm-6 col-xs-6 text-left">
        <img th:src="@{/img/eu_flag_cef.svg}" src="/img/eu_flag_cef.svg" style="padding: 30px 0px 0px 14px; max-width:300px; max-height:75%;"/>
    </div>
        <div class="col-md-6 col-sm-6 col-xs-6 text-right">
        <img th:src="@{/img/europeana-logo-madewith.svg}" src="/img/europeana-logo-madewith.svg" style="padding: 20px 14px 0px 0px; max-width:150px; max-height:75%;"/>
    </div><!--  -->
</div>
</body>
</html>
