<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Blank page</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playfair+Display" />

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
</head>
<body>

<!-- Navbar -->
<div class="col-sm-8" th:fragment="navbar">

    <div class="tabs tabs-style-linetriangle">
        <nav>
            <ul>
                <li class=""><a href="/create_game" th:href="@{/create_game}"><span>Create Game</span></a></li>
                <li class="tab-current"><a href="/join_page" th:href="@{/join_page}"><span>Join Game</span></a></li>
                <li class=""><a href="/score" th:href="@{/score}"><span>Score</span></a></li>
            </ul>
        </nav>
    </div>
    <!--<div class="navigation col-sm-3" style="">-->
        <!--<a class="btn btn-default" th:href="@{/create_game}" style="align-items: center; width: 100%;">Create Game</a><br />-->
        <!--<a class="btn btn-default" th:href="@{/join_page}" style="align-items: center; width: 100%;">Join Game</a><br />-->
        <!--<a class="btn btn-default" th:href="@{/score}" style="align-items: center; width: 100%;">Score</a><br />-->
    <!--</div>-->
</div>
</body>
</html>
