.game-table {
    list-style: none;
}

.hand {
    list-style: none;
}

@media (min-height: 380px) {
    .hand {
        max-height: 40vh;
    }
}
@media (min-height: 480px) {
    .hand {
        max-height: 50vh;
    }
}
@media (min-height: 768px) {
    .hand {
        max-height: 90vh;
    }
}

.gamecard {
    max-width:20ex;
    max-height:20ex;
}

.players ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat .panel-body {
    max-height: 500px;
    overflow-y: scroll;
}

.chat ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li span {
    margin: 0;
    color: #777777;
}

.thumb {
    margin-bottom: 30px;
    width: 400px;
    height: 300px;
}

.text-bold {
    font-weight: bold;
    font-style: italic;
}

figure figcaption {
    text-align: center;
}

.ignore-pointer-events {
	pointer-events:none;
}






