<div class="form-left-col">

    <div class="rules">
        Welcome to arT_tag! This game will be built as a mobile/web application and will be connected to Europeana digital content <br>
        via an OAIPMH protocol. The cultural content will be selected from predefined datasets of artworks from the Food and Drink <br>
        or another domain. Among other things, the game will help the users to explore and get to know new artworks while the artwork <br>
        itself will acquire unique descriptions that can not be obtained from computer tagging or picture recognition. The curators <br>
        will acquire these descriptions from the general public which can then be approved and visualized when displaying artworks in <br>
        Europeana. This version is just a prototype of this game.<br>
        <a href="Rules.html">RULES</a>
    </div>
    <div class=log2>
        <div class=nick>
            name
        </div>
        <div class=nick>
            language
        </div>
        <div class=nickAdd>
            <form>
                <input type="text" id="name" name="name" value="<%= name %>" required/>
            </form>
        </div>
        <div class=choiceL>
            <select name="languages">
                <option value="English" selected  >English</option>
                <option value="Slovak" >Slovak</option>
                <option value="German" >German</option>
            </select>
        </div>
        <p><a class="logIn button width">Log in</a></p>
    </div>


    <!--<label>Name:</label>-->
    <!--<input type="text" id="name" name="name" value="<%= name %>" required/>-->


    <!--<button class="save">Save</button>-->
    <!--<button class="delete">Delete</button>-->
</div>
