application.version=1

application.hostname-prefix=http
application.hostname=localhost:8080
application.context-path=/

application.cultural-objects-public-path=objects
application.cultural-objects-file-system-path = /opt/td/arttag/

application.max-description-size = 250

spring.thymeleaf.cache = false
spring.devtools.restart.exclude=static/**, templates/**

game.create-default-game=true

logging.file=/opt/td/logs/arttag.log
