<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <property file="${working.directory}/conf/arttag.properties" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="root" level="${root.logging.level}"/>
    <logger name="sk.eea.arttag" level="${arttag.logging.level}"/>
</configuration>
