<ul>
  <li><button>Create game</button></li>
  <li><button>Join game</button></li>
  <li><button>Score</button></li>
  <li><button>Help</button></li>
  <li><button class="logout">Logout</button></li>
</ul>
