<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Index page</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playfair+Display"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>
    <link href="../static/css/arttag.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
    <link href="../static/css/tabs.css" th:href="@{/css/tabs.css}" rel="stylesheet"/>
</head>
<body class="create-page">
<div class="container-fluid">
    <div id='joinGameScreenUpperHalf' class='row-fluid vertical-align'>
        <!--<div class='col-sm-2'>-->
        <!--&lt;!&ndash;<a href="#" class="btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>&ndash;&gt;-->
        <!--<img th:src="@{/img/eu_food_color.svg}" style="padding: 10px 10px 10px 10px; max-width:200px; max-height:75%;-->
        <!--"/>-->
        <!--</div>-->
        <div class='col-sm-2'>
            <div class="col-sm-offset-2 ">
                <img th:src="@{/img/eu_food_color.svg}" style="padding: 0px 0px 0px 0px; max-width:200px; max-height:75%;
"/>
            </div>
        </div>
        <div class='col-sm-8'>
            <div class='centeredText'>
                <h1 class="outlined">ARTTAG
                    <br/>
                    <small>THE ART OF FUN</small>
                </h1>
            </div>
        </div>
        <div class='col-sm-2'>
            <a href="/logout" th:href="@{/logout}" class="btn"><i class="fa fa-user fa-2x font-black" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <!-- Placeholder -->
        </div>
        <div th:replace="fragments/navbar :: navbar-creategame">&nbsp;</div>
        <div class="col-sm-2">
            <!-- Placeholder -->
        </div>
        <div class="playfair-font col-sm-12">
            <div class="col-sm-2">
            </div>
            <div class="navigation col-sm-8 form-centered">
                <form class="form-horizontal " action="#" th:action="@{/create_game}" th:object="${createGameForm}"
                      method="post" accept-charset="UTF-8">
                    <fieldset>
                        <!-- Name -->
                        <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                            <label class="col-md-4 control-label" for="name">Game name</label>
                            <div class="col-md-4">
                                <input id="name" name="name" th:field="*{name}"
                                       placeholder="" class="form-control"
                                       th:disabled="${createGameForm.joinGameLink} != null"
                                       type="text"/>
                                <span class="help-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">name error</span>
                            </div>
                        </div>
                        <!-- Public/private game -->
                        <div class="form-group" th:if="${createGameForm.joinGameLink} == null">
                            <label class="col-md-4 control-label" for="radios">Game type</label>
                            <div class="col-md-4">
                                <div class="radio">
                                    <label for="radios-0">
                                        <input name="radios" th:field="*{privateGame}" id="radios-0" value="false"
                                               type="radio"/>
                                        Public game
                                    </label>
                                </div>
                                <div class="radio">
                                    <label for="radios-1">
                                        <input name="radios" th:field="*{privateGame}" id="radios-1" value="true"
                                               type="radio"/>
                                        Private game
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- Create Button -->
                        <div class="form-group" th:if="${createGameForm.joinGameLink} == null">
                            <label class="col-md-4 control-label" for="createGameButton"></label>
                            <div class="col-md-4">
                                <button id="createGameButton" class="btn btn-primary" type="submit">Create game</button>
                            </div>
                        </div>
                        <!-- Show game link -->
                        <div class="form-group" th:if="${createGameForm.joinGameLink} != null">
                            <label class="control-label col-md-4" for="joinGameLink">Join link</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <input type="text" class="form-control" id="joinGameLink"
                                           th:value="${createGameForm.joinGameLink}"/>
                                    <span class="input-group-btn">
                                    <button class="btn btn-default btn-copy-clipboard"
                                            data-clipboard-target="#joinGameLink" type="button"><i
                                        class="fa fa-clipboard" aria-hidden="true"></i></button>
                                </span>
                                </div>
                            </div>
                        </div>
                        <!-- Join Button -->
                        <div class="form-group" th:if="${createGameForm.joinGameLink} != null">
                            <label class="col-md-4 control-label" for="joinGameButton"></label>
                            <div class="col-md-4">
                                <a id="joinGameButton" th:href="${createGameForm.joinGameLink}" class="btn btn-success">Join
                                    game</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&nbsp;</div>
</div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"
        th:src="@{/js/utils/clipboard.min.js}"></script>
<script src="../static/js/arttag.js" th:src="@{/js/arttag.js}"></script>

<script th:inline="javascript">
    /* <![CDATA[ */

    $(document).ready(function () {

        // Tooltip
        $('.btn-copy-clipboard').tooltip({
            trigger: 'click',
            placement: 'bottom'
        });

        function setTooltip(btn, message) {
            $(btn).tooltip('hide')
                .attr('data-original-title', message)
                .tooltip('show');
        }

        function hideTooltip(btn) {
            setTimeout(function () {
                $(btn).tooltip('hide');
            }, 2000);
        }

        // Clipboard
        var clipboard = new Clipboard('.btn-copy-clipboard');

        clipboard.on('success', function (e) {
            setTooltip(e.trigger, 'Copied!');
            hideTooltip(e.trigger);
        });

        clipboard.on('error', function (e) {
            setTooltip(e.trigger, 'Failed!');
            hideTooltip(e.trigger);
        });
    });
    /* ]]> */
</script>
</body>
</html>
