<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Index page</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="../static/css/arttag.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="center-block btn-group-vertical" role="group">
                <a th:href="@{/join_game}" class="btn btn-primary btn-lg btn-block">Join game</a>
                <a th:href="@{/create_game}" class="btn btn-default btn-lg btn-block">Create game</a>
                <a th:href="@{/score}" class="btn btn-default btn-lg btn-block">Score</a>
                <a th:href="@{/help}" class="btn btn-default btn-lg btn-block">Help</a>
                <a th:href="@{/logout}" class="btn btn-default btn-lg btn-block">Logout</a>
            </div>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/arttag.js" th:src="@{/js/arttag.js}"></script>
</body>
</html>
