<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="'Game' + ${gameId}"></title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/arttag.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
    <link href="../static/css/game_screen.css" th:href="@{/css/game_screen.css}" rel="stylesheet"/>
    <link href="../static/css/loader.css" th:href="@{/css/loader.css}" rel="stylesheet"/>
    <link href="../static/css/lol.css" th:href="@{/css/lol.css}" rel="stylesheet"/>
</head>
<body style="background-image: url(/img/stock-16x9-186903581.jpg)" onresize="onSizeChange()" onload="onLoad()" >
<div class="container-fluid" style="overflow: visible;">
    <div class="row no-float">
        <div id="statusscreen" class="col-md-4 col-lg-4">
            <div class="row">
                <div class="players panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Players</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table" data-bind="template: { name: 'player-row', foreach: gameView.players }">
                        </table>
                        <div data-bind="if: gameView.status() === 'ROUND_FINISHED'">
                            <button class="btn btn-default" data-bind="click: sendPlayerReady">Ready for next round</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chat panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chat</h3>
                        <div class="input-group">
                            <input type="text" class="form-control input-sm"
                                   data-bind="textInput : chatInput, event: {keypress: enterChatMessage}"
                                   placeholder="Type your message here..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" data-bind="click: sendChatMessage">
                                Send</button>
                        </span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <ul data-bind="foreach: chatHistory" style="height: 25%;">
                            <li data-bind="if: message">
                                <p class="chat-body" data-bind="template: { name: 'chat-line'}, autoScroll: true"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">

                    </div>
                </div>
            </div>
        </div>
        <div id="gamescreen" class="col-md-8 col-lg-8">
            <div class="row">
                <div class="col-md-6 text-left"><h3 data-bind="text: gameView.tags"></h3></div>
                <div class="col-md-6 text-right"><h3 data-bind="text: formattedRemainingTime"></h3></div>
            </div>

            <div class="row " data-bind="if: gameView.table().length > 0 ">
                <div class="game-table col-md-12 col-lg-12">
                    <legend>Table</legend>
                    <ul class="o-list-unstyled" data-bind="template: { name: 'card-thumbnail', foreach: gameView.table }"></ul>
                </div>
            </div>

            <!--<div class="row no-float orange-background"  data-bind="if: hand().length > 0 &amp;&amp; !(gameView.table().length > 0)">
                <div class="hand col-md-12 col-lg-12 col-sm-12 col-xs-12" >
                    <legend>Hand</legend>
                    <ul class="o-list-unstyled" data-bind="template: { name: 'card-thumbnail', foreach: hand }"></ul>
                </div>
            </div>-->
            <div class="o-page o-fullscreen">
                <div id="content" class="o-fullscreen o-wrap" role="main">
                    <div class="">
                        <main class="o-client__body">
                            <div class="o-client__block">
                                <div class="o-wrap">
                                    <header class="c-heading">
                                        <legend>Hand</legend>
                                    </header>
            <div class="c-champs js-champion-list " data-bind="if: hand().length > 0 &amp;&amp; !(gameView.table().length > 0)">
                <ul class="o-list-unstyled c-champs__list " data-bind="template: { name: 'card-thumbnail', foreach: hand }"></ul>
            </div>
                  </div>
                                                   </div>
                        </main>
                    </div>
                </div>
            </div>
        </div>



    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

    <!-- Modal window with image preview, and user inputs -->
    <div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12 centeredimage">
                            <img class="img-responsive" data-bind="attr: {'src': selectedCard.source}"/>
                            <!--<img class="img-responsive" src="http://dummyimage.com/600x400/000/fff.png"/>-->

                         </div>
                     </div>
                     <div class="row">
                         <div class="col-md-12">
                             <div class="form-horizontal">
                                 <div class="form-group">
                                     <label class="col-sm-2 control-label">Author</label>
                                     <div class="col-sm-10">
                                         <p class="form-control-static" data-bind="text: selectedCard.metadata.author"></p>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-sm-2 control-label">Description</label>
                                     <div class="col-sm-10">
                                         <p class="form-control-static" data-bind="text: selectedCard.metadata.description"></p>
                                     </div>
                                 </div>
                                 <div class="form-group">
                                     <label class="col-sm-2 control-label">Link</label>
                                     <div class="col-sm-10">
                                         <a class="form-control-static" data-bind="attr: {'href' : selectedCard.metadata.externalUrl}" target="_blank">link</a>
                                     </div>
                                 </div>
                                 <!-- TAG INPUT -->
                                <div class="form-group" data-bind="if: dealer() &amp;&amp; gameView.status() === 'ROUND_STARTED'">
                                    <label class="col-sm-2 control-label">Topic</label>
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm"
                                                   data-bind="textInput: tagsInput, event: {keypress: enterTag}" placeholder="Write round topic here..."/>
                                            <span class="input-group-btn">
                                                <button class="btn btn-warning btn-sm" data-bind="click: sendTag">Send</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <!-- HAND CARD SELECTION -->
                                <div class="form-group" data-bind="if: !dealer() &amp;&amp; gameView.status() === 'ROUND_TOPIC_SELECTED'">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-success btn-block" data-bind="click: selectHandCard">Select this card</button>
                                    </div>
                                </div>
                                <!-- TABLE CARD SELECTION -->
                                <div class="form-group" data-bind="if: !dealer() &amp;&amp; gameView.status() === 'ROUND_OWN_CARDS_SELECTED'">
                                    <label class="col-sm-2 control-label"></label>
                                    <div class="col-sm-10">
                                        <button class="btn btn-success btn-block" data-bind="click: selectTableCard">Select this card</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"
        th:src="@{/webjars/knockout/3.4.0/knockout.js}"></script>
<script th:src="@{/webjars/sprintf.js/1.0.0/sprintf.min.js}"></script>
<script src="../static/js/knockout.mapping.js" th:src="@{/js/knockout.mapping.js}"></script>
<script src="../static/js/md5.js" th:src="@{/js/md5.js}"></script>
<script src="../static/js/hashcode.js" th:src="@{/js/hashcode.js}"></script>
<script src="../static/js/arttag.js" th:src="@{/js/arttag.js}"></script>
<script src="../static/js/loader.js" th:src="@{/js/loader.js}"></script>

<!-- template for rendering template chat -->
<script type="text/html" id="chat-line">
    <span data-bind="text: time"></span>
    <strong data-bind="text: player"></strong>:
    <span data-bind="text: message"></span>
</script>

<!-- template for rendering row in players table-->
<script type="text/html" id="player-row">
    <tr>
        <td><span class="player" data-bind="text: name, css: { 'text-bold': userId() === thisUserId }"></span></td>
        <td>
            <!-- ko if: dealer -->
            <i class="fa fa-comment-o" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="User is riddler"></i>
            <!-- /ko -->
            <!-- ko if: readyForNextRound -->
            <i class="fa fa-check" data-bind="if: readyForNextRound" aria-hidden="true" data-toggle="tooltip" data-placement="right"
               title="User is ready for next round"></i>
            <!-- /ko -->
            <!-- ko if: inactive -->
            <i class="fa fa-frown-o" data-bind="if: inactive" aria-hidden="true" data-toggle="tooltip" data-placement="right" title="User is inactive"></i>
            <!-- /ko -->
        </td>
        <td><span class="total-score" data-bind="text: gameScore"></span></td>
        <td data-bind="if: $root.gameView.status() === 'ROUND_FINISHED'" class="round-score">(+<span data-bind="text: lastRoundScore"></span>)</td>
    </tr>
</script>

<!-- template for rendering card thumbnail in table and hand -->
<script type="text/html" id="card-thumbnail">


    <li class="c-champs__list-item js-champion-hover " style="margin-right: 10px;">
        <a href="#" data-bind="click: $root.thumbnailSelected" class="c-champs__list-link " >
                        <span class="o-square ">
<img data-toggle="modal"
     data-target="#imageModal"
     data-bind="attr: {'src': source}" alt=" " width="219 " height="219 " class="o-square__img c-img-frame__img " />

                        </span>
        </a>
    </li>
</script>

<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    var hostname = /*[[${@environment.getProperty('application.hostname')}]]*/;
    var contextPath = /*[[@{/}]]*/;
    var gameId = /*[[${gameId}]]*/;
    var thisUserId = /*[[${userId}]]*/;

    var webSocket = new WebSocket(`ws://${hostname}${contextPath}ws/game?gameId=${gameId}`);
    var alreadyConnected = false;

    // show loader on start
    $('body').loader();
    $.loader.open();

    // handles scrolling of chat messages always to bottom
    ko.bindingHandlers.autoScroll = {
        update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
            $(element).parents('.panel-body').scrollTop($(element).parents('.panel-body')[0].scrollHeight);
        }
    };

    /*
     Specifies keys to use for comparing change of objects by knockout-mapping plugin.
     With this, only when change in key is detected, mapping will refresh the element in DOM.
     */
    var viewModelMapping = {
        'hand': {
            key: function (data) {
                console.log(JSON.stringify(data));
                return ko.utils.unwrapObservable(data.token);
            }
        },
        'table': {
            key: function (data) {
                return ko.utils.unwrapObservable(data.token);
            }
        },
        'players': {
            key: function (data) {
                return HashCode.value(ko.mapping.toJS(data));
            }
        }
    };

    // knockoutJS viewModel for this page
    function ViewModel(data) {
        var self = this;
        self = ko.mapping.fromJS(data, viewModelMapping);

        self.enterChatMessage = function (d, e) {
            e.keyCode === 13 && self.sendChatMessage();
            return true;
        };

        self.enterTag = function (d, e) {
            e.keyCode === 13 && self.sendTag();
            return true;
        };

        self.thumbnailSelected = function (card) {
            ko.mapping.fromJS(card, {}, self.selectedCard);
        };

        self.formattedRemainingTime = ko.computed(function () {
            var minutes = self.gameView.remainingTime() / 60.0;
            var divisor = minutes % 1;
            return sprintf("%02d:%02d", Math.floor(minutes), Math.round(divisor * 60));
        });

        self.sendChatMessage = function () {
            if (self.chatInput()) {
                var message = {
                    value: ko.utils.unwrapObservable(self.chatInput()),
                    type: 'CHAT_MESSAGE',
                    gameId: ko.utils.unwrapObservable(self.gameView.id())
                };
                webSocket.send(JSON.stringify(message));
                var date = new Date();
                self.chatHistory.push({player: "me", message: self.chatInput(), time: date.toLocaleTimeString()});
                self.chatInput('');
            }
        };

        self.sendTag = function () {
            if (self.tagsInput()) {
                var message = {
                    value: ko.utils.unwrapObservable(self.tagsInput()) + ";" + ko.utils.unwrapObservable(self.selectedCard.token()),
                    type: 'TOPIC_SELECTED',
                    gameId: ko.utils.unwrapObservable(self.gameView.id())
                };
                webSocket.send(JSON.stringify(message));
                self.tagsInput("");
                $('#imageModal').modal('hide');
            }
        };

        self.sendPlayerReady = function () {
            var message = {
                value: 'OK',
                type: 'PLAYER_READY_FOR_NEXT_ROUND',
                gameId: ko.utils.unwrapObservable(self.gameView.id())
            };
            webSocket.send(JSON.stringify(message));
        };

        self.selectHandCard = function () {
            var message = {
                value: ko.utils.unwrapObservable(self.selectedCard.token()),
                type: 'OWN_CARD_SELECTED',
                gameId: ko.utils.unwrapObservable(self.gameView.id())
            };
            webSocket.send(JSON.stringify(message));
            $('#imageModal').modal('hide');
        };

        self.selectTableCard = function () {
            var message = {
                value: ko.utils.unwrapObservable(self.selectedCard.token()),
                type: 'TABLE_CARD_SELECTED',
                gameId: ko.utils.unwrapObservable(self.gameView.id())
            };
            webSocket.send(JSON.stringify(message));
            $('#imageModal').modal('hide');
        };


        return self;
    }

    // viewModel prototype
    var viewModel = new ViewModel({
        "userToken": "",
        "dealer": false,
        "rightGuess": false,
        "hand": [{
            "token": "",
            "source": "",
            "metadata": {
                "author": "",
                "externalUrl": "",
                "description": ""
            }
        }],
        "gameView": {
            "id": "",
            "name": "",
            "status": "",
            "tags": "",
            "remainingTime": 0,
            "players": [{
                "token": "",
                "userId": "",
                "name": "",
                "readyForNextRound": false,
                "dealer": false,
                "inactive": false,
                "gameScore": 0,
                "lastRoundScore": 0
            }],
            "table": [{
                "token": "",
                "source": "",
                "metadata": {
                    "author": "",
                    "externalUrl": "",
                    "description": ""
                },
                "playerSelections": [],
                "dealersCard": false,
                "cardSelectedBy": false
            }]
        },
        /* fields below are not part of model from backend */
        "chatHistory": [{
            "player": "",
            "message": "",
            "time": ""
        }],
        "chatInput": "",
        "tagsInput": "",
        "selectedCard": {
            "token": "",
            "source": "",
            "metadata": {
                "author": "",
                "externalUrl": "",
                "description": ""
            }
        }
    });
    ko.applyBindings(viewModel);

    // websocket on error handler
    webSocket.onerror = function (event) {
        alert(event.data);
    };

    // websocket on message handler
    webSocket.onmessage = function (event) {
        var data = JSON.parse(event.data);
        // chat message
        if (typeof data.type !== 'undefined') {
            var date = new Date();
            viewModel.chatHistory.push({
                player: data.playerName,
                message: data.value,
                time: date.toLocaleTimeString()
            });
        } else { // model message
            ko.mapping.fromJS(data, viewModelMapping, viewModel);
            // close loader on first data arrival from server
            if (!alreadyConnected) {
                $.loader.close();
            }
            alreadyConnected = true;
        }
    };

    /* logger just for debugging purposes (use this to find out how often does the element update)
     * Usage example: <span class="player" data-bind="logger: name, text: name"> */
    ko.bindingHandlers.logger = {
        update: function (element, valueAccessor, allBindings) {
            //store a counter with this element
            var count = ko.utils.domData.get(element, "_ko_logger") || 0,
                    data = ko.toJS(valueAccessor() || allBindings());

            ko.utils.domData.set(element, "_ko_logger", ++count);

            if (window.console && console.log) {
                console.log(count, element, data);
            }
        }
    };

    var onLoad = function()
    {
        var w = window.outerWidth;
        if(w < 992)
        {
            $("#statusscreen").insertAfter("#gamescreen");
            $("#footer").hide();
        }
        else if(w >= 992)
        {
            $("#gamescreen").insertAfter("#statusscreen");
            $("#footer").show();
        }
    }

    var onSizeChange = function()
    {
        var w = window.outerWidth;
        if(w < 992)
        {
            $("#statusscreen").insertAfter("#gamescreen");
            $("#footer").hide();
        }
        else if(w >= 992)
        {
            $("#gamescreen").insertAfter("#statusscreen");
            $("#footer").show();
        }
    }

    /* ]]> */
</script>
</body>
</html>
