<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title th:text="'Game' + ${gameId}"></title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/console.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
</head>
<style>
    body {
        margin-top: 20px;
    }

    .game-table {
        list-style: none;
    }

    .hand {
        list-style: none;
    }

    .players ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chat .panel-body {
        max-height: 500px;
        overflow-y: scroll;
    }

    .chat ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .chat li span {
        margin: 0;
        color: #777777;
    }

    .thumb {
        margin-bottom: 30px;
        width: 400px;
        height: 300px;
    }
</style>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-lg-8">
            <div class="row" data-bind="if: table().length > 0">
                <div class="game-table col-md-12 col-lg-12">
                    <legend>Table</legend>
                    <div data-bind="foreach: table">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#">
                                <img class="img-responsive"
                                     data-toggle="modal"
                                     data-target="#imageModal"
                                     data-bind="attr: {
                                        'src': $root.imagePath.concat(token()),
                                        'data-id': token
                                     }"
                                ></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" data-bind="if: hand().length > 0">
                <div class="hand col-md-12 col-lg-12">
                    <legend>Hand</legend>
                    <div data-bind="foreach: hand">
                        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                            <a class="thumbnail" href="#">
                                <img class="img-responsive"
                                     data-toggle="modal"
                                     data-target="#imageModal"
                                     data-bind="attr: {
                                        'src': $root.imagePath.concat(token()),
                                        'data-id': token
                                     }"
                                ></img>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="hand col-md-12 col-lg-12">
                    <legend>Controls</legend>
                    <div class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="tagsInput">Tags input</label>
                            <input type="text" class="form-control" id="tagsInput" placeholder="Write tag here"
                                   data-bind="textInput: tagsInput"/>
                            <button class="btn btn-default" data-bind="click: sendTags">Send</button>
                        </div>
                    </div>
                    <div class="form">
                        <button class="btn btn-default" data-bind="click: sendPlayerReady">Ready for next round</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Game</h3>
                    </div>
                    <div class="panel-body">
                        Id: <b data-bind="text: game.id"/><br/>
                        Name: <b data-bind="text: game.name"/><br/>
                        Created: <b data-bind="text: game.created"/><br/>
                        Round Remaining Time: <b data-bind="text: game.remainingTime"/><br/>
                        Status: <b data-bind="text: game.status"/><br/>
                        Tags: <b data-bind="text: game.tags"/><br/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="players panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Players</h3>
                    </div>
                    <div class="panel-body">
                        <ul data-bind="foreach: game.players">
                            <li data-bind="template: { name: 'player-line'}"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="chat panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chat</h3>
                    </div>
                    <div class="panel-body">
                        <ul data-bind="foreach: chatHistory">
                            <li data-bind="if: message">
                                <p class="chat-body" data-bind="template: { name: 'chat-line'}, autoScroll: true"></p>
                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm"
                                   data-bind="textInput : chatInput, event: {keypress: enterChatMessage}"
                                   placeholder="Type your message here..."/>
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" data-bind="click: sendChatMessage">
                                Send</button>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="imageModal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <img src="//placehold.it/1000x600" class="img-responsive"></img>
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Id</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="modal-id"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Url</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="modal-url"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <p class="form-control-static" id="modal-name"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"
        th:src="@{/webjars/knockout/3.4.0/knockout.js}"></script>
<script src="../static/js/knockout.mapping.js" th:src="@{/js/knockout.mapping.js}"></script>
<script src="../static/js/md5.js" th:src="@{/js/md5.js}"></script>
<script src="../static/js/hashcode.js" th:src="@{/js/hashcode.js}"></script>
<script src="../static/js/arttag.js" th:src="@{/js/arttag.js}"></script>

<script type="text/html" id="chat-line">
    <span data-bind="text: time"></span>
    <strong data-bind="text: player"></strong>:
    <span data-bind="text: message"></span>
</script>

<script type="text/html" id="player-line">
    <em data-bind="text: name"></em>
    <strong data-bind="text: dealer() ? '(D)' : ''"></strong>
    <strong data-bind="text: readyForNextRound() ? '(y)' : ''"></strong>
</script>

<script type="text/javascript" th:inline="javascript">
    /* <![CDATA[ */
    var hostname = /*[[${@environment.getProperty('application.hostname')}]]*/;
    var contextPath = /*[[@{/}]]*/;
    var gameId = /*[[${gameId}]]*/;
    var webSocket = new WebSocket(`ws://${hostname}${contextPath}ws/game?gameId=${gameId}`);

    ko.bindingHandlers.autoScroll = {
        update: function (element, valueAccessor, allBindings, viewModel, bindingContext) {
            $(element).parents('.panel-body').scrollTop($(element).parents('.panel-body')[0].scrollHeight);
        }
    };

    var mapping = {
        'hand': {
            key: function(data) {
                return ko.utils.unwrapObservable(data.token);
            }
        },
        'table': {
            key: function(data) {
                return ko.utils.unwrapObservable(data.token);
            }
        },
        'players': {
            key: function(data) {
                return ko.utils.unwrapObservable(HashCode.value(data));
            }
        }
    };

    function ViewModel(data) {
        data = data || {};
        var self = this;
        self = ko.mapping.fromJS(data, mapping);
        self.imagePath = contextPath + 'img/';

        self.enterChatMessage = function (d, e) {
            e.keyCode === 13 && self.sendChatMessage();
            return true;
        };

        self.sendChatMessage = function () {
            if (self.chatInput()) {
                var message = {
                    value: ko.utils.unwrapObservable(self.chatInput()),
                    type: 'CHAT_MESSAGE',
                    gameId: ko.utils.unwrapObservable(self.game.id())
                };
                webSocket.send(JSON.stringify(message));
                var date = new Date();
                self.chatHistory.push({player: "me", message: self.chatInput(), time: date.toLocaleTimeString()});
                self.chatInput('');
            }
        };

        self.sendTags = function () {
            if (self.tagsInput()) {
                var message = {
                    value: ko.utils.unwrapObservable(self.tagsInput()),
                    type: 'TAGS_SELECTED',
                    gameId: ko.utils.unwrapObservable(self.game.id())
                };
                webSocket.send(JSON.stringify(message));
                self.tagsInput("");
            }
        };

        self.sendPlayerReady = function () {
            var message = {
                value: 'OK',
                type: 'PLAYER_READY_FOR_NEXT_ROUND',
                gameId: ko.utils.unwrapObservable(self.game.id())
            };
            webSocket.send(JSON.stringify(message));
        };

        self.selectHandCard = function (card) {
            var message = {
                value: card.token(),
                type: 'OWN_CARD_SELECTED',
                gameId: ko.utils.unwrapObservable(self.game.id())
            };
            webSocket.send(JSON.stringify(message));
        };

        self.selectTableCard = function (card) {
            var message = {
                value: card.token(),
                type: 'TABLE_CARD_SELECTED',
                gameId: ko.utils.unwrapObservable(self.game.id())
            };
            webSocket.send(JSON.stringify(message));
        };


        return self;
    }

    var viewModel = new ViewModel({
//        "userToken": "",
//        "dealer": false,
//        "hand": [{
//            "token" : "",
//            "source" : ""
//        }],
//        "gameView": {
//            "id": "",
//            "name": "",
//            "status": "",
//            "tags": "",
//            "remainingTime": 0,
//            "players": [{
//                "token": "",
//                "name": "",
//                "ownCardSelection": null,
//                "tableCardSelection": null,
//                "readyForNextRound": false,
//                "dealer": false
//        }],
//            "table": []
//    }





        "userToken": "",
        "game": {
            "id": "",
            "name": "",
            "remainingTime": 0,
            "tags": "",
            "created": "",
            "players": [{
                "name": "",
                "dealer": false,
                "readyForNextRound": false
            }],
            "status": ""
        },
        "hand": [{
            "token": ""
        }],
        "table": [{
            "token": ""
        }],
        "chatHistory": [{
            "player": "",
            "message": "",
            "time": ""
        }],
        "chatInput": "",
        "tagsInput": ""
    });
    ko.applyBindings(viewModel);

    webSocket.onerror = function (event) {
        onError(event)
    };

    webSocket.onmessage = function (event) {
        onMessage(event)
    };

    function onMessage(event) {
        var data = JSON.parse(event.data);
        // chat message
        if (typeof data.type !== 'undefined') {
            var date = new Date();
            viewModel.chatHistory.push({
                player: data.playerName,
                message: data.value,
                time: date.toLocaleTimeString()
            });
        } else { // model message
            ko.mapping.fromJS(data, mapping, viewModel);
        }
    }

    function onError(event) {
        alert(event.data);
    }


    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $(document).on("click", ".thumbnail .img-responsive", function () {
        var id = $(this).attr('data-id');
        var src = $(this).attr('src');
        $(".modal-body #modal-id").text(id);
        $(".modal-body .img-responsive").attr('src', src);
    });

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });
    /* ]]> */
</script>
</body>
</html>
