<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Index page</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"/>

    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Playfair+Display"/>
    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/datatables.min.css" th:href="@{/css/datatables.min.css}" rel="stylesheet"/>

    <link href="../static/css/arttag.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
    <link href="../static/css/tabs.css" th:href="@{/css/tabs.css}" rel="stylesheet"/>

</head>
<body class="score-page">
<div class="container-fluid">
    <div id='joinGameScreenUpperHalf' class='row-fluid vertical-align'>
        <!--<div class='col-sm-2'>-->
        <!--&lt;!&ndash;<a href="#" class="btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>&ndash;&gt;-->
        <!--<img th:src="@{/img/eu_food_color.svg}" style="padding: 10px 10px 10px 10px; max-width:200px; max-height:75%;-->
        <!--"/>-->
        <!--</div>-->
        <div class='col-sm-2'>
            <div class="col-sm-offset-2 ">
                <img th:src="@{/img/eu_food_color.svg}" style="padding: 0px 0px 0px 0px; max-width:200px; max-height:75%;
"/>
            </div>
        </div>
        <div class='col-sm-8'>
            <div class='centeredText'>
                <h1 class="outlined">ARTTAG
                    <br/>
                    <small>THE ART OF FUN</small>
                </h1>
            </div>
        </div>
        <div class='col-sm-2'>
            <a href="/logout" class="btn"><i class="fa fa-user font-black fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2">
            <!-- Placeholder -->
        </div>
        <div th:replace="fragments/navbar :: navbar-score">&nbsp;</div>
        <div class="col-sm-2">
            <!-- Placeholder -->
        </div>
        <div class="playfair-font col-sm-12">
            <div class="col-sm-2">

            </div>
            <div class="navigation  col-sm-8">
                <table id="scoreTable" class="table" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Games played</th>
                        <th>Games won</th>
                        <th>Total score</th>
                    </tr>
                    </thead>
                </table>
            </div>
            <div class="col-sm-2">

            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/utils/datatables.min.js" th:src="@{/js/utils/datatables.min.js}"></script>
<script src="../static/js/arttag.js" th:src="@{/js/arttag.js}"></script>
<script th:inline="javascript">
    /* <![CDATA[ */
    var table; // datatable

    function remapDatatables(data) {
        for (var i = 0; i < data.columns.length; i++) {
            column = data.columns[i];
            column.searchRegex = column.search.regex;
            column.searchValue = column.search.value;
            delete(column.search);
        }
    }
    ;

    $(document).ready(function () {
        table = $("#scoreTable").DataTable({
            'serverSide': true,
            'processing': true,
            'ajax': {
                'url': /*[[@{/score/get.score}]]*/,
                'data': function (data) {
                    remapDatatables(data);
                }
            },
            'language': {
                search: 'Search by user name:'
            },
            'columns': [
                {'data': 'userName'},
                {'data': 'gamesPlayed'},
                {'data': 'gamesWon'},
                {'data': 'totalScore'}
            ]
        });
    });
    /* ]]> */
</script>
</body>
</html>
