<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Index page</title>

    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'/>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap-theme.min.css}" rel="stylesheet"/>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
          th:href="@{/webjars/font-awesome/4.6.3/css/font-awesome.min.css}" rel="stylesheet"/>

    <link href="../static/css/arttag.css" th:href="@{/css/arttag.css}" rel="stylesheet"/>
</head>
<body class="score-page">
<div class="container-fluid">
    <div id='joinGameScreenUpperHalf' class='row'>
        <div class='col-sm-2'>
            <a href="#" class="btn"><i class="fa fa-bars fa-2x" aria-hidden="true"></i></a>
        </div>
        <div class='col-sm-8'>
            <div class='centeredText orange-background'>
                <h1>ARTTAG
                    <br/>
                    <small>THE ART OF FUN</small>
                </h1>
            </div>
        </div>
        <div class='col-sm-2'>
            <a href="#" class="btn"><i class="fa fa-search fa-2x" aria-hidden="true"></i></a>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-offset-2 col-sm-8">
            <div th:replace="fragments/navbar :: navbar">&nbsp;</div>

            <div class="col-sm-9 lightslategray-background">
                <table class="table table-striped">
                    <tr>
                        <th>Games played</th>
                        <th>Games won</th>
                        <th>Total score</th>
                    </tr>
                    <tr th:each='score : ${scores}'>
                        <td th:text="${score.gamesPlayed}"></td>
                        <td th:text="${score.gamesWon}"></td>
                        <td th:text='${score.totalScore}'></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">&nbsp;</div>

<script src="http://code.jquery.com/jquery-2.2.4.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
<script src="../static/js/arttag.js" th:src="@{/js/arttag.js}"></script>
</body>
</html>
